<div class="profile row">
  <div class="left-align col l4 m10 s10 push-l4 push-m1 push-s1 pull-l4 pull-m1 pull-s1">
    <div class="black-text">
      <h4 class="center-align"><%= @user.full_name.titleize %></h4>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: { id: "formValidateEdit"}) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-field col s12">
          <%= f.text_field :full_name, id: "full_name", name: "user[full_name]", class: "validate", data: {error: '.validate_full_name'} %>
          <%= f.label t('full_name'), for: "full_name" %>
          <div class="validate_full_name"></div>
        </div>

        <div class="input-field col s12">
          <%= f.text_field :email, id: "email", readonly: true %>
          <%= f.label t('email'), for: "email" %>
          <div class="validate_email"></div>
        </div>

        <div class="input-field col s12">
          <%= f.text_field :cellphone, id: "cellphone", name: "user[cellphone]", class: "validate", data: {error: '.validate_cellphone'} %>
          <%= f.label t('cellphone'), for: "cellphone" %>
          <div class="validate_cellphone"></div>
        </div>

        <div class="input-field col s12">
          <%= f.text_field :address, id: "address", name: "user[address]", class: "validate", data: {error: '.validate_address'} %>
          <%= f.label t('address'), for: "address" %>
          <div class="validate_address"></div>
        </div>

          <div class="input-field col s12">
            <%= f.label t('password'), for: "password", name: "user[password]", class: "validate", data: {error: '.validate_password'} %>
            <%= f.password_field :password, autocomplete: "off", id:"password" %>
            <div class="validate_password"></div>
          </div>
          <div class="input-field col s12">
            <%= f.label t('password_confirmation'), for: "password_confirmation", id: "password_confirmation" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", id: "password_confirmation", name: "user[password_confirmation]",
              class: "validate", data: {error: '.validate_password_confirmation'} %>
            <div class="validate_password_confirmation"></div>
          </div>
        <div class="actions center-align">
          <%= f.submit t('save'), class:"btn_save btn waves-effect waves-light blue darken-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
