<div class="container send_password_instructions">
  <div class="row">
    <div class="center">
      <h3><%= t('forgot_your_password') %></h3>
    </div>
    <%= form_for(resource, as: resource_name, url: password_url(resource_name), html: { method: :post, class: "col s12" }) do |f| %>
        <%= devise_error_messages! %>
      <div class="row">
        <div class="input-field col s10">
          <%= f.email_field :email, id: "email", name: "user[email]", class: "validate", data: {error: '.validate_email'} %>
            <%= f.label :email, for: "email" %>
            <div class="validate_email"></div>
        </div>
        <div class="input-field col s6">
          <%= f.submit t('send_password_instructions'), class: "btn waves-effect waves-light light-blue darken-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>