<div class="container">
  <div class="row">
    <div class="center">
      <h3> <%= t('sign_in') %> </h3>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "col s12", id: "formValidateSession" }) do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :email, id: "email", name: "user[email]", class: "validate", data: {error: '.validate_email'} %>
          <%= f.label :email, for: "email" %>
          <div class="validate_email"></div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password, id: "password", name: "user[password]", class: "validate", data: {error: '.validate_password'} %>
          <%= f.label :password, for: "password" %>
          <div class="validate_password"></div>
        </div>
      </div>
      <div class="container center">
        <%= f.submit t('sign_in'), class: "btn waves-effect waves-light light-blue darken-3" %>
      </div>
      <div class="password_recovery">
        <span><%= link_to t('forgot_your_password'), new_user_password_url, class: "forgot_password" %></span>
      </div>
    <% end %>
  </div>
</div>
