<div class="center">
  <h3><%= t('state_charts') %></h3>
</div>

<div>
  <h4><%= t('users') %></h4>
  <%= line_chart User.group_by_day(:created_at, time_zone: "Bogota").count %>
</div>

<div>
  <h4><%= t('establishments') %></h4>
  <%= line_chart Establishment.group_by_day(:created_at, time_zone: "Bogota").count %>
</div>
