<h2 class="center"><%= t('establishments') %></h2>

<div class="container">
  <div class="row">
      <%= search_form_for @search, url: search_establishments_url do |f| %>
        <div class="col s5">
          <%= f.label t('city_cont') %>
          <%= f.select :city_cont, options_for_select(Establishment.all.map{ |tag| [tag.city]}), {}, { required: true, style: "width:100%;", class: "select2_city"} %>
        </div>
        <div class="col s5">
          <%= f.submit class: "btn waves-effect waves-light teal darken-1", style: "margin-top: 13px" %>
        </div>
      <% end %>
  </div>
</div>

<h5 class="center"><%= t('filter_services') %></h5>
<div class="categories">
  <% @tag_establishments.each do |tag| %>
    <div class="card row">
      <ul class="center">
        <li><%= link_to tag.name.capitalize, tag_establishments_url(tag.name.downcase), class: "name-tag" %></li>
        <li class="divider"></li>
        <li class="tag"><%= tag.taggings.where(taggable_type: "Establishment").count %> <%= t('establishment', count: tag.taggings.where(taggable_type: "Establishment").count) %></li>
      </ul>
    </div>
  <% end %>
</div>
<% if @tag_establishment_count > 5 %>
  <div class="view-more center">
    <%= link_to t('view-more_services'), services_establishment_url, class: "btn waves-effect blue-grey darken-1" %>
  </div>
<% end %>

<div class="grid-post" id="cotaniner-establishment">
  <% @establishments.each do |establishment| %>
    <div class="grid-post-item">
      <div class="card medium hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <%= link_to (image_tag establishment.image.url(:square)), establishment, data: { turbolinks: false } %>
        </div>
        <div class="card-content">
          <span class="card-title"><%= establishment.name.capitalize %></span>
          <p class="activator"><%= link_to t('view_more'), establishment, data: { turbolinks: false } %><i class="material-icons right">more_vert</i></p>
        </div>
        <div class="card-reveal">
          <span class="center card-title"><%= establishment.name.capitalize %><i class="material-icons right">close</i></span>
          <p><%= establishment.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<ul class="center">
  <%= will_paginate @establishments, renderer: MaterializePagination::Rails  %>
</ul>
