<div class="parallax-container">
  <div class="parallax"><%= (image_tag @establishment.image.url,  class:"responsive-img") %></div>
</div>

<div class="container">
  <div class="row">
    <div class="center col s12">
      <h2><%= @establishment.name.upcase %></h2>
    </div>
  </div>

  <div class="row ">
    <div class="center col s12">
      <%= @establishment.description %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h3><%= t('services') %></h3>
    </div>
  </div>

  <div class="row center">
    <div class="col l4 m4 s12">
      <h5>
        <i class="material-icons">location_on</i>&nbsp;Dirección
      </h5>
      <p><%= @establishment.address %></p>
    </div>
    <div class="col l4 m4 s12">
      <h5>
        <i class="material-icons">location_city</i>&nbsp;Ciudad
      </h5>
      <p><%= @establishment.city %></p>
    </div>
    <div class="col l4 m4 s12">
      <h5>
        <i class="material-icons">domain</i>&nbsp;Barrio
      </h5>
      <p><%= @establishment.district %></p>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="row center">
      <% if @establishment.user_id == current_user.id %>
        <div class="col s6">
          <%= link_to t('edit'), edit_establishment_path(@establishment), class: "btn waves-effect waves-light teal darken-1" %>
        </div>
        <div class="col s6">
          <%= link_to t('delete'), establishment_url(@establishment), method: :delete, data: { confirm: t('confirm') }, class: "btn waves-effect waves-light red" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
